<!--{% extends 'base.html' %}-->
<!--{% block aboutactive %} active {% endblock aboutactive %}-->
<!--{% block body %}-->
<!--<div class="container my-5 mt-4" style="max-width: 900px;">-->
<!--    <div class="card">-->

<!--        <div class="card-body">-->
<!--            <p>-->
<!--                This is a simple blog application in which anyone can share their thoughts or read articles written by-->
<!--                others.-->
<!--                And if they have an opinion on it, they can also tell-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock body %}-->